.hs2 {
  background-color: #dbd2e0;
  font-family: "Roboto Condensed";
  max-width: 17%;
  min-width: 17%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 6px rgba(126, 162, 170, 0.4),
    /* Shadow below */ 0 -4px 6px rgba(126, 162, 170, 0.4),
    /* Shadow above */ 4px 0 6px rgba(126, 162, 170, 0.4),
    /* Shadow on right */ -4px 0 6px rgba(126, 162, 170, 0.4); /* Shadow on left */
}
