.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.taskviewer {
  margin-top: 5px;
  border-radius: 15px;
  padding: 15px; 
  width: 40%;
  height: 90%;
  margin-right: 10px;
  background-color: #404044;
  box-shadow: 0 4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow below */ 0 -4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow on right */ -4px 0 6px rgba(212, 176, 252, 0.4); /* Shadow on left */
}

.heading {
  color: #dbd2e0;
  font-size: x-large;
  margin-left: 10px;
}
.taskTitle {
  background-color: #404044;
  width: 80%;
  height: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-size: 1rem;
  color: #dbd2e0;
  border: 2px solid #dbd2e0;
  font-family: "Roboto Condensed";
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 10px;
}

.taskDesc {
  background-color: #404044;
  height: 15%;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  overflow-y: scroll;
  color: #dbd2e0;
  border: 2px solid #dbd2e0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.taskDesc::-webkit-scrollbar {
  width: 4px;
}

.taskDesc::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.taskDesc::-webkit-scrollbar-thumb {
  background: #dbd2e0;
  border-radius: 10px;
}

.taskDate {
  background-color: #404044;
  width: 20%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #dbd2e0;
  margin-top: 10px;
  padding-top: 15px;
  color: #dbd2e0;
  text-align: center;
  font-family: "Roboto Condensed";
  margin-bottom: 10px;
}

.Control_btns_div {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 97%;
  background-color: #404044;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow below */ 0 -4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow above */ 4px 0 6px rgba(212, 176, 252, 0.4),
    /* Shadow on right */ -4px 0 6px rgba(212, 176, 252, 0.4); /* Shadow on left */
}

.Control_btns {
  width: 60%;
  height: 10%;
  color: black;
  background-color: #dbd2e0;
  font-family: "Roboto Condensed";
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow below */ 0 -4px 6px rgba(212, 176, 252, 0.4),
    /* Shadow above */ 4px 0 6px rgba(212, 176, 252, 0.4),
    /* Shadow on right */ -4px 0 6px rgba(212, 176, 252, 0.4); /* Shadow on left */
}

.Control_btns_disabled {
  width: 60%;
  height: 10%;
  color: #dbd2e0;
  background-color: #404044;
  font-family: "Roboto Condensed";
  border: 2px solid #dbd2e0;
  outline: none;
  border-radius: 5px;
}

.status {
  width: 40%;
  padding: 15px;
  height: 15px;
  border: 2px solid #dbd2e0;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
  font-family: "Roboto Condensed";
  color: #dbd2e0;
}

/* Media Query */
@media (max-width: 626px) {
  .taskviewer {
    width: 60%;
  }
  .taskDate {
    width: 25%;
  }
  .Control_btns_div {
    width: 30%;
  }
  .Control_btns {
    width: 70%;
  }
  .Control_btns_disabled {
    width: 70%;
  }
}

@media (max-width: 372px) {
  .taskDate {
    width: 30%;
  }
}
